* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.border-bottom-line {
  border-bottom: 1px solid gray;
}
.border-bottom-dashed {
  border-bottom: 1px dashed rgb(118, 137, 241);
}
.rounded-circle {
  border-radius: 15px;
  background-color: rgb(136, 104, 136);
  color: white;
  margin-left : 15px
}
.desigt-grid {
  grid-template-columns: repeat(3, 1fr);
}
#timeline {
  grid-column-start: 3;
  grid-row: 1/3;
}
.border-blue-dark {
  border: 10px solid blue;
}
.grid {
  display: grid;
}
